<div>
  <temporary-email (dataIdEmitter)="onDataIdReceived($event)"></temporary-email>
</div>
<div *ngIf="listEmails.length == 0" 
class="d-flex justify-content-center align-items-center mt-4">
  <img src="../../../../assets/inbox.PNG" class="empty-email ">
</div>
<div *ngIf="listEmails.length > 0">
  <div class="text-inbox d-flex justify-content-between mt-3 mb-1 m-auto">
    <span class="fs-3">Caixa de Entrada</span>
    <button
      class="btn-notification"
      title="Receber Notificação"
      (click)="getNotification()"
    >
      <i class="fa-solid fa-bell fa-xl" style="color: #b2b2b2"></i>
    </button>
  </div>
  <div
    *ngFor="let email of listEmails; let index = index"
    (click)="openEmail(index)"    
  >
    <div class="content m-auto">
      <div class="email active d-flex justify-content-between align-items-center ">
        <div class="subject-container">
          <i class="fa-regular fa-envelope fa-xl"></i>
          <span class="subject update">De: {{ email.fromAddr }}</span>
        </div>
        <div class="email-content fa-xl pt-3">
          <p>Assunto: {{ email.headerSubject }}</p>
        </div>
        <div class="email-options">
          <a
            [href]="email.downloadUrl"
            target="_blank"
            class="ms-auto m-1 me-5"
            title="Baixar Email"
          >
            <i class="fa-solid fa-download"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Mensagem -->
  <div class="d-flex justify-content-center align-items-center">
  <div class="text-message content mt-3 mb-3 " *ngIf="messageEmail">    
        <div class="m-3 p-2 ">
          <div class="d-flex justify-content-end">
            <button (click)="closeEmail()" class="btn-back m-3">
              <i class="fa-solid fa-arrow-left-long fa-xl " ></i>
            </button>
          </div>
          <p class="fs-6 email-content">De: {{ showEmailClick.fromAddr }}</p>
          <p class="fs-6 email-content">Para: {{ showEmailClick.toAddr }}</p>
          <h3 class="fs-4">{{ showEmailClick.headerSubject }}</h3>
          <p class="lh-sm">
            {{ showEmailClick.text }}
          </p>
        </div>
      </div>
  </div>
</div>
lo